<table cellspacing="0" cellpadding="0" style="width: 100%; height: 100%;" >
  <% if @error_message != nil %>
  <tr>
    <td><%= @error_message %></td>
  </tr>
  <% else %>
  <tr>
    <td>
      <div class="back_to_messagebox" >
        <div class="back_link_container" onclick="javascript:redirect_to('/messages/device_index?device_id=<%= "#{@device_id}" -%>');" >
          <div class="message_icon" style="display: inline;" >
            <img alt="icon" width="32px" height="32px" src="/images/message_icon.png"/>
          </div>
          <div class="back_link_title">
            Back to MessageBox
          </div>
        </div>
      </div>
    </td>
  </tr>
  
  <% if @messages.length == 0 %>
  <tr>
    <td>
      <div style=" font-size: 18px; margin-top: 20px; margin-bottom: 20px; width: 100%; height: 300px; text-align: center; line-height: 300px; vertical-align: middle;">
        No New Message.
      </div>
      
    </td>
  </tr>
  
  <% else %>

  <% @messages.each do |message| %>
  <tr>
    <td class="message_td" >
      <a class="message" href="<%= "/messages/read_message?id=#{message.id}&device_id=#{@device_id}" -%>" >
        <div class="message_title" >
          <%=  message.title -%>
        </div>
        <div style="width: 100%; height: 25px; line-height: 25px; color: #d4d4d4; font-size: 12px; " >
          <%=  message.created_at.getlocal.to_s :db -%>
        </div>
      </a>
    </td>
  </tr>
  <% end %>
  <% end %>
  <% end %>
</table>

